@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  font-family: "Kanit";
}

.help-block {
  font-size: 13px;
  color: red;
}

.error-summary {
  font-size: 13px;
  color: red;
  border: 3px solid red;
  background-color: bisque;
  padding: 10px;
  margin-bottom: 20px;
}